{% extends "base.html" %}

{% block content %}

<h2>Available Parking Slots</h2>

<table class="table table-bordered">

    <thead>

        <tr>
            <th>Owner</th>
            <th>Flat</th>
            <th>Slot</th>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Rent/Hour</th>
        </tr>

    </thead>

    <tbody>

    {% for slot in slots %}

        <tr>

            <td>{{ slot.owner_name }}</td>
            <td>{{ slot.flat_no }}</td>
            <td>{{ slot.slot_number }}</td>
            <td>{{ slot.available_date }}</td>
            <td>{{ slot.from_time }}</td>
            <td>{{ slot.to_time }}</td>
            <td>₹ {{ slot.rent_per_hour }}</td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}