<!DOCTYPE html>
<html>
<head>
    <title>Security Registration</title>
</head>
<body>

<h1>SECURITY</h1>

<form action="/save-security" method="POST">

    <input type="text"
           name="name"
           placeholder="Security Name">

    <br><br>

    <input type="text"
           name="phone"
           placeholder="Phone">

    <br><br>

    <input type="text"
           name="shift"
           placeholder="Shift">

    <br><br>

    <button type="submit">
        Enter Room
    </button>

</form>

</body>
</html>