<!DOCTYPE html>
<html>
<head>
    <title>Tenant Registration</title>
</head>
<body>

<h1>TENANT</h1>

<form action="/save-tenant" method="POST">

    <input type="text" name="owner_name"
           placeholder="Owner Name">

    <br><br>

    <input type="text" name="owner_phone"
           placeholder="Owner Phone">

    <br><br>

    <input type="text" name="tenant_name"
           placeholder="Tenant Name">

    <br><br>

    <input type="text" name="tenant_phone"
           placeholder="Tenant Phone">

    <br><br>

    <input type="text" name="flat_no"
           placeholder="Flat Number">

    <br><br>

    <input type="number" name="parking_slots"
           placeholder="Parking Slots">

    <br><br>

    <input type="text" name="parking_space_numbers"
           placeholder="Parking Space Numbers">

    <br><br>

    <button type="submit">
        Enter Room
    </button>

</form>

</body>
</html>