{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2>Visitor Entry Request</h2>

    <form action="/create-visitor-request" method="POST">

        <div class="mb-3">
            <label>Visitor Name</label>
            <input
                type="text"
                name="visitor_name"
                class="form-control"
                required
            >
        </div>

        <div class="mb-3">
            <label>Phone Number</label>
            <input
                type="text"
                name="phone"
                class="form-control"
                required
            >
        </div>

        <div class="mb-3">
            <label>Vehicle Number</label>
            <input
                type="text"
                name="vehicle_number"
                class="form-control"
            >
        </div>

        <button
            class="btn btn-primary"
            type="submit"
        >
            Generate Visitor Pass
        </button>

    </form>

</div>

{% endblock %}